@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #BBE2EC; 
}


section {
    background-color: #f4f4f4; 
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

fieldset {
    border: 1px solid #ccc; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; 
}

legend {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 5px;
    margin-left: -5px;
}

input[type="text"] {
    width: 100%; 
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    display: block;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-left: 5px;
}

textarea {
    display: block;
}


form label {
    display: flex;
    align-items: center; 
    margin: 8px 0; 
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px; 
    cursor: pointer;
}

input[type="submit"] {
    background-color: #229aea;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: green; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 10px; 
   
    animation-name: modalOpen;
    animation-duration: 0.5s;
}

@keyframes modalOpen {
    from {top: -50px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; 
        padding: 20px; 
        margin: 20% auto; 
    }
}
