@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f2f1; */
    background-color: #70bcef;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 1em;
    background-color: #FFF6E9;
    color: #40A2E3;
}

nav .logo {
    margin-left: 10px;
}

.menu {
    margin-right: 20px;
}

nav .menu a {
    text-decoration: none;
    color: #40A2E3;
    margin-left: 20px;
    font-weight: 700;
}

nav .signup-btn {
    padding: 0.2em;
    border-radius: 5px;
    margin: 15px;
    border: 1px solid #0D9276;
    color: #fff;
}


.hero {
    /* background-image: linear-gradient(#01e8e0, #4eb8ea, #738ff0); */
    background-color: #70bcef;
    color: white; 
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2; 
    text-transform: uppercase; 
}

.hero p {
    font-size: 1rem; 
    margin-bottom: 2.5rem; 
}

.hero img {  
    object-fit: cover; 
    border-radius: 10px; 
    margin-top: 0;
    margin-bottom: 50px;

}



@media (max-width: 430px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu a {
        display: block; 
        margin: 5px 0; 
    }
    .menu .signup-btn{
        display: inline-block;
        margin-top: 10px;
        
    }
    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;

    }
    
}
/* 
@media (max-width: 360px) {
    .home-page-posts {
        flex-wrap: wrap;
    }
} */

.see-more-posts {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.see-posts {
    /* background-color: #4eb8ea; */
    background-color: #0D9276;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    font-weight: 700;
    text-decoration: none; 

}

.see-more-posts img {
    width: 30px;
    height: 30px;
    margin-left: 4px;
}

.footer-bottom {
    background-color: #FFF6E9; 
    color: #40A2E3; 
    text-align: center; 
    font-size: 0.95em;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border-top: 1px solid #0D9276; 
    padding: 40px 20px;
}

.footer-content {
    max-width: 800px;
    margin: auto; 
}

.footer h2 {
    color: #0D9276; 
    margin-bottom: 20px; 
    font-weight: 700;

}

.footer p {
    font-size: 1rem; 
    line-height: 1.6;
    font-weight: 700;
}

@media (max-width: 768px) {
    .footer h2 {
        font-size: 1.25rem;
    }

    .footer p {
        font-size: 0.9rem; 
    }
}



/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .about,
    .contact {
        max-width: none;
        margin-bottom: 20px;
    }
}


