* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(138, 182, 228);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.navbar a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.nav-items {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}



.navbar a:hover {
    background-color: #ddd;
    color: black;
}


@media (max-width: 414px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items a {
        display: block; 
        /* margin: 5px 0;  */
    }
}



